.tracks{
   flex: 1;
   background-color: var(--background-alt);
   margin:  1em 0 1em 0.5em;
   border-radius: 2em;
   padding: 1em
}

.trackButtons {
   display: flex;
   margin: 0 auto;
   width: 70%;
}

.tracksHeader {
   background-color: var(--foreground);
   border-radius: 3em;
   margin: 0 auto;
   padding: 0 4em;
   width: fit-content;
}

.tracksHeader h2 {
   margin-top: 0em;
   margin-bottom: 0.45em;
}


@media only screen and (max-width: 500px) {
   .trackButtons{
      /* display: flex; */
      flex-wrap: wrap;
      width: 100%;
   }

   .trackButtons button {
      margin: 0.5em auto;
   }

   .tracksHeader {
      width: auto;
   }
}
